@font-face {
    font-family: Roboto-Regular;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Roboto-Bold.ttf);
}

@font-face {
    font-family: Rubik-Bold;
    src: url(Rubik-Bold.ttf);
}

body {
	background: #1e232a;
}

* {
	padding: 0px;
	margin: 0px;
}

.main-wrapper {
	width: 100%;
	height: 100vh;
}

/* HEADER */

.top-header {
	width: 100%;
	height: 75px;
	background: #1b2025;
	-webkit-box-shadow: 0px 1px 14px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 14px 2px rgba(0,0,0,0.35);
	box-shadow: 0px 1px 14px 2px rgba(0,0,0,0.35);
	position: absolute;
	z-index: 1;
}

.header-main {
	width: 1180px;
	height: 100%;
	margin: 0 auto;
	z-index: 1;
}

.logo {
	width: 82px;
	height: 100%;
	background: #1b2025;
	-webkit-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.24);
	box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.24);
	text-align: center;
	float: left;
}

.logo-img {
	margin-top: 17px;
}

.wbp-button {
	width: 195px;
	height: 42px;
	border: 1px solid #4ae251;
	float: left;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 18px;
	cursor: pointer;
	background-color: #34a43a;
}

.wbp-left {
	transition: .2s;
	float: left;
	width: 45px;
	height: 100%;
	background-color: #3cbf42;
	text-align: center;
}

.play-img {
	margin-top: 12px;
	margin-left: 3px;
}

.wbp-right {
	transition: .2s;
	width: 150px;
	height: 100%;
	background-color: #34a43a;
	float: right;
	-webkit-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.46);
	box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.46);
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.59);	
}

.wbp-button:hover > .wbp-left {
	transition: .2s;
	width: 65px;
}

.wbp-button:hover > .wbp-right {
	transition: .2s;
	width: 130px;
}


.main-bt {
	transition: .2s;
	color: white;
	font-family: Rubik-Bold;
	font-size: 6.1pt;
	letter-spacing: 2px;
	font-weight: 600;
	line-height: 44px;
	margin-left: 23px;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.wbp-button:hover > .wbp-right > .main-bt {
	margin-left: 15px;
	transition: .2s;
}

.search-bar {
	width: 305px;
	height: 38px;
	border: 2px solid #252b33;
	float: right;
	background: none;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.34);
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.34);
	text-indent: 17px;
	margin-top: 15px;
	color: white;
	font-family: Roboto-Regular;
	font-size: 11px;
	letter-spacing: .7px;
	margin-right: 24px;
}

.search-bar::-webkit-input-placeholder {
	color: #666666;
	font-size: 10px;
	font-family: Roboto-Regular;
	font-weight: 600;
	letter-spacing: .8px;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.search-img {
	float: right;
	margin-top: 27px;
	margin-right: -295px;

}

.search-bar:focus {
	outline: none;
}

.fix-img-1 {
	float: right;
	margin-right: 250px;
	margin-top: 19px;
}

.fix-img-2 {
	float: right;
	margin-right: -420px;
	margin-top: 19px;
}

.tokens {
	width: 70px;
	height: 40px;
	float: right;
	margin-top: 16px;
	margin-right: -410px;
}

.qbc-img {
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 4px;
}

.qbc-emount {
	font-family: Roboto-Regular;
	font-weight: 600;
	letter-spacing: 1.2px;
	font-size: 12px;
	color: #3cc843;
	display: inline-block;
	vertical-align: middle;
	text-shadow: 0px 1px .6px #3cc843;
	margin-top: 6px;

}

.coins {
	font-family: Rubik-Bold;
	font-size: 9px;
	color: #455160;
	letter-spacing: .6px;
	text-shadow: 0px 1px 8px 455160;
	margin-left: 12px;
	margin-top: 3px;
}

.clubs {
	margin-top: 9.5px;
	width: 67px;
	height: 57px;
	float: right;
	margin-right: -507px;
	background-image: url(clubs.png);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

.clubs:hover {
	cursor: pointer;
}

.clubs-pick {
	margin-top: 15px;
}

.pick-arrow {
	float: left;
	margin-left: 28px;
	margin-top: 2px;
}

.me {
	width: 44px;
	height: 51px;
	border: 1px solid #3bc442;
	float: right;
	margin-top: 14px;
	margin-right: -575px;
	background-image: url(jon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.34);
	box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.34);
	text-align: center;
}

.me-label {
	margin-top: 38px;
}

.content {
	width: 1156px;
	height: 1200px;
	margin: 0 auto;
	padding-top: 95px;
	text-align: center;
}

.banner-img {
		-webkit-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.34);
	box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.34);
}

.clubs-holder {
	width: 100%;
	height: 600px;
	margin-top: 20px;
}

.club-card {
	transition: .3s;
	width: 366px;
	height: 131px;
	background-image: url(club-card-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.24);
	box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.24);
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
}

.column-1 {
	width: 100%;
	height: 101px;
	float: left;
}

.column-2 {
	width: 100%;
	height: 31px;
	float: left;
}

.row-1 {
	float: left;
	width: 135px;
	height: 100%;
}

.row-2 {
	width: 231px; 
	height: 100%;
	float: left;
}

.top-col {
	float: left;
	width: 100%;
	height: 28px;
}

.bot-col {
	float: left;
	width: 100%;
	height: 73px;
}

.logo-bg {
	margin-left: 13px;
	margin-top: 5px;
	float: left;
}

.club-img {
	position: absolute;
	margin-left: -36px;
	margin-top: 27px;
}

.img-1-fix {
	margin-top: 18px;
}

.img-2-fix {
	margin-top: 17px;
	margin-left: -32px;
}

.img-3-fix {
	margin-top: 13px;
	margin-left: -32px;
}

.img-4-fix {
	margin-top: 20px;
	margin-left: -24px;
}

.img-5-fix {
	margin-top: 24px;
	margin-left: -31px;
}

.seasson-level {
	color: #959595;
	font-family: Roboto-Regular;
	font-size: 10.5px;
	line-height: 30px;
	margin-left: 17px;
	letter-spacing: .6px;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.82);
	float: left;
}

.seasson-level > span {
	font-family: Roboto-Bold;
	font-size: 12.5px;
	color: #39bb40;
}

.club-rank {
	color: #a3a3a3;
	font-size: 7.8px;
	font-family: Rubik-Bold;
	letter-spacing: .6px;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.82);
	position: absolute;
	margin-left: 135px;
	margin-top: 7px;
}

.club-rank > span {
	color: #39bb40;
	font-size: 11px;
	font-family: Roboto-Regular;
}


.club-name {
	font-family: Roboto-Bold;
	font-size: 18px;
	color: #34a43a;
	letter-spacing: .8px;
	margin-top: 7px;
	text-shadow: 0px 0px 21px rgba(55, 164, 59, 0.96);
	float: left;
}

.owner-label {
	color: #656464;
	font-size: 9px;
	font-family: Rubik-Bold;
	letter-spacing: .9px;
	margin-top: 7px;
	text-shadow: 0px 0px 21px rgba(0, 0, 0, 0.56);
	float: left;
}	

.owner-name {
	color: white;
	text-shadow: 0px 0px 21px rgba(0, 0, 0, 0.56);
	font-family: Roboto-Regular;
	font-size: 11px;
	letter-spacing: 1px;
	margin-top: 3px;
	text-align: left;
}

.title-block {
	width: 100%;
	height: 26px;
	float: left;
}

.owner-block {
	width: 120px;
	height: 40px;
	float: left;
}

.members-block {
	width: 100px;
	height: 40px;
	float: left;
}

.lol {
	float: right;
	width: 32px;
	height: 17px;
	background: #298831;
	border: 2px solid #3dd445;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.26);
	-moz-box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.26);
	box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.26);
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.39);
	margin-top: 5px;
	margin-right: 6px;
}

.lol > p {
	font-family: Roboto-Bold;
	font-size: 10px;
	color: white;
	cursor: pointer;
	letter-spacing: 1.2px;
	line-height: 17px;
}

.cs {
	width: 47px;
	background: #297588;
	border: 2px solid #45cad2;
	margin-right: 6px;
}

.r-2 {
	margin-top: 22px;
}