@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Rubik-Bold;
    src: url(fonts/Rubik-Bold.ttf);
}

* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

body {
	background: #141b23;
}

.d-shadow {
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.32);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.32);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.32);
}

.header {
	width: 100%;
	height: 55px;
	width: 100%;
	height: 55px;
	background: #0d1117;
	border-bottom: 1px solid #2c3948;
	position: fixed;
	z-index: 1000;
}

.logo {
	width: 66px;
	height: 100%;
	float: left;
	background: #151c24;
	text-align: center;
}

.logo > img {
	margin-top: 14px;
	width: 28px;
	height: 26px;
	cursor: pointer;
}

.search {
	width: 190px;
	height: 100%;
	float: left;
}

.search-img {
	width: 24px;
	height: 24px;
	margin-left: 15px;
	float: left;
	margin-top: 16px;
	cursor: pointer;
}

.search-field {
	background: none;
	border: none;
	color: white;
	margin-left: 12px;
	margin-top: 22px;
	font-family: Roboto-Regular;
	font-size: 11px;
	float: left;
}

.search-field::-webkit-input-placeholder {
	font-family: Roboto-Bold;
	font-size: 10px;
	color: #787878;
	letter-spacing: .2px;
}

.search-field:focus { outline: none; }

.nav-box {
	width: 50px;
	height: 100%;
	float: right;
	text-align: center;
}

.nav-box > img {
	width: 21px;
	height: 24px;
	margin-top: 14px;
	cursor: pointer;
}

.box-2 {
	width: 30px;
}

.box-2 > img {
	margin-top: 16px;
	cursor: pointer;
}

.user-header {
	float: left;
	width: 100%;
	height: 62px;
	background: #1e2632;
	margin-top: 55px;
	border-bottom: 1px solid #24313e;
	border-top: 1px solid #24313e;
}

.player-info {
	width: 230px;
	height: 100%;
	float: left;
}


.user {
	float: left;
	width: 215px;
	height: 100%;
}

.user-avatar {
	margin-top: 7px;
	cursor: pointer;
	float: left;
	margin-left: 10px;
}

.user-name {
	float: left;
	font-family: Roboto-Bold;
	font-size: 12px;
	color: #40e449;
	letter-spacing: .6px;
	margin-left: 10px;
	margin-top: 16px;
}

.club > span {
	font-family: Roboto-Bold;
	color: #636363;
}

.club {
	float: left;
	color: #fbfbfb;
	font-family: Roboto-Regular;
	font-size: 10px;
	margin-top: 3px;
	margin-left: 10px;
	letter-spacing: .5px;
}

.arrow {
	transition: .3s;
	float: right;
	width: 20px;
	height: 18px;
	border-radius: 3px;
	background: #1e2632;
	border: 1px solid #35404f;
	cursor: pointer;
	margin-top: -9px;
	margin-right: 10px; 
}

.arrow:hover {
	background: #293545;
	transition: .3s;
}

.arrow-img {
	width: 10px;
	height: 6px;
	float: left;
	margin-top: 7.4px;
	margin-left: 5px;
}

.rank {
	width: 114px;
	height: 100%;
	float: right;
	background: #181e28;
	text-align: center;
}

.static {
	font-family: Roboto-Bold;
	font-size: 9px;
	color: #575a5e;
	letter-spacing: .2px;
	margin-top: 16px;
}

.rank-title {
	font-family: Rubik-Bold;
	font-size: 12px;
	color: #4ae252;
	letter-spacing: .6px;
	margin-top: 4px;
}

.feed {
	width: 345px;
	height: 820px;
	background: #182029;
	border: 1px solid #293440;
	position: absolute;
	left: 50%;
	top: 126px;
	-webkit-transform: translate(-50%,0);
}

.chat-img {
	width: 24px;
	height: 24px;	
}

.match-header {
	width: 100%;
	height: 193px;
	float: left;
	background-image: url(images/mobile/header-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: -1px;
}

.match-info {
	width: 100%;
	height: 40px;
	border-top: 1px solid #323a43;
	border-bottom: 1px solid #323a43;
	background: #181f26;
	float: left;
}

.left-header {
	float: left;
	width: 138px;
	height: 100%;
}

.middle-header {
	float: left;
	width: 69px;
	height: 100%;
}

.right-header {
	float: left;
	width: 138px;
	height: 100%;
}

.rank-text {
	font-family: Rubik-Bold;
	font-size: 24px;
	color: #266637;
	margin-left: 58px;
	margin-top: 12px;
}

.team-avatar {
	margin-top: 7px;
	margin-left: 32px;
}

.club-name {
	font-family: Roboto-Bold;
	font-size: 13px;
	color: #3cc843;
	letter-spacing: .4px;
	margin-left: 25px;
	margin-top: 7px;
}

.club-members {
	font-family: Roboto-Regular;
	font-size: 10px;
	color: #a4a4a4;
	margin-top: 4px;
	margin-left: 37px;
}

.club-members > span {
	color: #3cc843;
	font-size: 11px;
	font-family: Roboto-Bold;
}

.score-1 {
	font-family: Rubik-Bold;
	font-size: 28px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	padding-right: 20px;
	margin-top: 42px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
	margin-left: 5px;
}

.score-line {
	position: absolute;
	margin-top: 56px;
	margin-left: -27px;
}

.score-2 {
	font-family: Rubik-Bold;
	font-size: 28px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	margin-top: 42px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
}

.match-vs {
	margin-top: 4px;
	margin-left: 17px;
}

.time-left {
	font-family: Roboto-Regular;
	font-size: 10px;
	color: #3cc843;
	margin-top: 6px;
	letter-spacing: .3px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
	margin-left: 8px;
}

.rank-blue {
	color: #225d61;
	font-family: Rubik-Bold;
	font-size: 24px;
	margin-top: 12px;
	margin-left: 32px;
}

.team-avatar-blue {
	margin-top: 7px;
	margin-left: 10px;
}

.right-header > .club-name {
	margin-left: 23px;
	color: #24c1cc;
}

.right-header > .club-members {
	margin-left: 23px;
}

.right-header > .club-members > span { color: #24c1cc; }

.left-info {
	width: 120px;
	height: 100%;
	float: left;
}

.middle-info {
	width: 104px;
	height: 100%;
	float: left;
}

.right-info {
	width: 120px;
	height: 100%;
	float: left;
}

.score-img {
	position: absolute;
	margin-left: 40px;
	margin-top: 12px;
}

.b-s {
	margin-left: 7px;
	margin-top: 12px;
}

.trophy-img {
	width: 14px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 43px;
	margin-top: 11px;
}

.trophy-score {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1px;
	font-family: Roboto-Bold;
	font-size: 12px;
	color: #4ae252;
	letter-spacing: .4px;
	margin-top: 11px;

}

.right-info > .trophy-img {
	margin-left: 12px;
}

.right-info > .trophy-score {
	color: #38cad8;
}

.time-img {
	width: 16px;
	height: 16px;
	margin-left: 3px;
	margin-top: 7px;
	display: inline-block;
	vertical-align: middle;
}

.time-text {
	font-family: Roboto-Regular;
	font-size: 10px;
	color: #949494;
	display: inline-block;
	vertical-align: middle;
	margin-top: 6px;
	margin-left: 2px;
	letter-spacing: .2px;
}

.time-text > span { color: #4ae252; font-family: Roboto-Bold; letter-spacing: 0px; }