@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Rubik-Bold;
    src: url(fonts/Rubik-Bold.ttf);
}

* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.container {
	width: 100%;
	height: 960px;
	background: #141b23;
}

.wrapper {
	width: 1080px;
	height: 100%;
	margin: 0 auto;
}

.d-shadow {
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.62);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.62);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.62);
}

.header-wrapper {
	width: 100%;
	height: 55px;
	background: #0d1117;
	border-bottom: 1px solid #2c3948;
	position: fixed;
	z-index: 1000;
}

.header {
	width: 1110px;
	height: 100%;
	margin: 0 auto;
}

.logo {
	float: left; 
	width: 192px;
	height: 100%;
	background: #141a22;
	text-align: center;
}

.logo-img {
	width: 130px;
	height: 25px;
	margin-top: 16px;
}

.search {
	width: 562px;
	height: 100%;
	float: left;
}

.search-img {
	margin-left: 19px;
	float: left;
	margin-top: 16px;
	cursor: pointer;
}

.search-field {
	float: left;
	background: none;
	border: none;
	color: white;
	margin-left: 18px;
	margin-top: 22px;
	font-family: Roboto-Regular;
	font-size: 11px;

}

.search-field::-webkit-input-placeholder {
	font-family: Roboto-Bold;
	font-size: 10px;
	color: #787878;
	letter-spacing: .2px;
}

.search-field:focus { outline: none; }

.user {
	float: left;
	width: 215px;
	height: 100%;
}

.user-avatar {
	margin-top: 4px;
	cursor: pointer;
	float: left;
}

.user-name {
	float: left;
	font-family: Roboto-Bold;
	font-size: 12px;
	color: #40e449;
	letter-spacing: .6px;
	margin-left: 8px;
	margin-top: 14px;
}

.club > span {
	font-family: Roboto-Bold;
	color: #636363;
}

.club {
	float: left;
	color: #fbfbfb;
	font-family: Roboto-Regular;
	font-size: 10px;
	margin-top: 3px;
	margin-left: 8px;
	letter-spacing: .3px;
}

.arrow {
	transition: .3s;
	float: right;
	width: 20px;
	height: 18px;
	border-radius: 3px;
	background: #0a0e13;
	border: 1px solid #293545;
	cursor: pointer;
	margin-top: -9px;
	margin-right: 10px; 
}

.arrow:hover {
	background: #293545;
	transition: .3s;
}

.arrow-img {
	float: left;
	margin-top: 7.4px;
	margin-left: 5px;
}

.rank {
	float: left;
	width: 90px;
	height: 100%;
}

.rank-line {
	border: none;
	background: #202429;
	width: 1px;
	height: 29px;
	margin-top: 14px;
	margin-left: 7px;
	float: left;
}

.rank-static {
	float: left;
	color: #575a5e;
	font-family: Roboto-Bold;
	font-weight: 800;
	font-size: 9px;
	margin-left: 25px;
	margin-top: 15px;
}

.rank-name {
	float: left;
	font-family: Rubik-Bold;
	font-size: 12px;
	color: #4ae252;
	letter-spacing: .5px;
	margin-left: 14px;
	margin-top: 3px;
	cursor: pointer;
}

.v2 {
	float: right;
	margin-top: -12px;
	margin-right: 4px;
}

.notification {
	float: left;
	height: 100%;
	width: 42px;
	text-align: center;
	margin-top: 15px;
	cursor: pointer;
}

.number-bubble {
	transition: .2s;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #3ac742;
	border: 2px solid #0d1117;
	position: absolute;
	margin-left: 20px;
	margin-top: -33px;
	text-align: center;
	font-size: 8px;
}

.notification:hover > .number-bubble {
	transition: .2s;
	width: 14px;
	height: 14px;
	font-size: 10px;
}

.n-number {
	font-family: Roboto-Bold;
	color: white;
}

.wrapper {
	width: 1082px;
	height: 900px;
}

.club-page {
	float: left;
	width: 663px;
	height: 812px;
	background: #182029;
	border: 1px solid #293440;
	margin-top: 70px;
}

.main-header {
	width: 100%;
	height: 290px;
	background: url(images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.badges {
	width: 100%;
	height: 212px;
}

.left-achievement {
	height: 100%;
	width: 216px; 
	float: left;
}

.club-center {
	width: 230px;
	height: 100%;
	float: left;
	text-align: center;
}

.right-achievement {
	height: 100%;
	width: 216px;
	float: left;
}

.box-holder {
	width: 85px;
	height: 110px;
	float: right;
	margin-right: 20px;
	margin-top: 45px;
	text-align: center;
}

.achievement-title {
	font-family: Rubik-Bold;
	font-size: 9px;
	color: #6e6d6d;
	letter-spacing: .3px;
	margin-top: 15px;
}

.achievement-name > span {
	color: #3ccf45;
	font-family: Rubik-Bold;	
}

.achievement-name {
	font-size: 11px;
	font-family: Roboto-Light;
	color: white;
	letter-spacing: .6px;
	margin-top: 5px;
}

.left-box {
	float: left;
}

.left-box {
	margin-right: 0px;
	margin-left: 20px;
}

.box-holder > img { cursor: pointer; }

.logo-bg {
	margin-top: 50px;
}

.club-line {
	position: absolute;
	border: none;
	background: #394852;
	width: 1px;
	height: 66px;
	margin-top: 60px;
	margin-left: 22px;
}
.line-v2 { margin-left: 210px; }

.club-title {
	font-family: Rubik-Bold;
	font-size: 18px;
	color: white;
	letter-spacing: .6px;
	margin-top: 20px;
}

.online-img {
	display: inline-block;
	vertical-align: middle;
}

.online {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	font-family: Roboto-Regular;
	font-size: 10px;
	color: #b8b8b8;
	letter-spacing: .2px;
}

.online > span {
	font-family: Rubik-Bold;
	color: #3ccf45;
}

/* CLUBS LOGO */

.club-logo-img {
	position: absolute;
	margin-top: 76px;
	margin-left: -78px;
}

.progress {
	width: 100%;
	height: 78px;
}

.progress-bar {
	width: 447px;
	height: 6px;
	border-radius: 5px;
	background: #273340;
	border: 1px solid #32404e;
	margin: 0 auto;
	margin-top: 10px;
}

.filled {
	width: 70%;
	height: 6px;
	border-radius: 5px;
	background: #3ccf45;
}

.left-text {
	float: left;
	margin-left: 112px;
}

.right-text {
	float: right;
	margin-right: 112px;
}

.normal-text {
	font-family: Roboto-Bold;
	font-size: 8px;
	color: #4a525a;
	letter-spacing: .3px;
	margin-top: -16px;
}

.xp-text {
	text-align: center;
	margin-top: 13px;
	font-family: Roboto-Regular;
	font-size: 10px;
	color: #54b15a;
	letter-spacing: .2px;
}

.xp-text > span {
	font-family: Roboto-Bold;
	font-size: 10px;
	color: #3ccf45;
}

.first-section {
	width: 100%;
	height: 204px;
}

.match {
	transition: .2s;
	float: left;
	width: 50%;
	height: 100%;
	border: 1px solid #293440;
	border-left: none;
	cursor: pointer;
}

.match:hover {
	transition: .2s;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.62);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.62);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.62);
}

.match-header {
	width: 100%;
	height: 42px;
	background: #303c4a;
	-webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.3);	
}

.match-content {
	width: 100%;
	height: 162px;
	background: url(images/match-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.clock-img {
	margin-top: 13px;
	margin-left: 12px;
	display: inline-block;
	vertical-align: middle;
}

.clock-title > span {
	font-family: Roboto-Bold;
	color: #4ae252;
}

.clock-title {
	display: inline-block;
	vertical-align: middle;
	margin-top: 11px;
	margin-left: 4px;
	font-family: Roboto-Regular;
	font-size: 10px;
	color: #cdcdcd;
	letter-spacing: .3px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
}

.live-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #3ccf45;
	float: right;
	display: inline-block;
	vertical-align: middle;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(60,207,69,0.49);
	-moz-box-shadow: 0px 0px 15px 1px rgba(60,207,69,0.49);
	box-shadow: 0px 0px 15px 1px rgba(60,207,69,0.49);	
	margin-top: 15px;
	margin-right: 7px;
}

.live-title {
	float: right;
	display: inline-block;
	vertical-align: middle;
	margin-top: 15px;
	margin-right: 13px;
	font-family: Rubik-Bold;
	font-size: 10px;
	color: #3ccf45;
	letter-spacing: 1.2px;
}

.teams {
	width: 100%;
	height: 105px;
}

.team-1 {
	margin-left: 26px;
	margin-top: 18px;
	float: left;
}

.vs {
	margin-left: 25px;
	margin-top: 51px;
}

.team-2 {
	float: right;
	margin-right: 26px;
	margin-top: 18px;
}

.score {
	width: 100%;
	height: 56px;
}

.score-card  {
	width: 42px;
	height: 43px;
	border-radius: 3px;
	background: #222d39;
	border-bottom: 3px solid #3fe047;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.score-card > p {
	font-family: Roboto-Bold;
	font-size: 30px;
	color: #3fe047;
	line-height: 43px;
}

.sep {
	color: white;
	display: inline-block;
	vertical-align: middle;
	font-family: Rubik-Bold;
	font-size: 18px;
	padding: 0px 5px 0px 5px;
	color: #595e60;
}

.card-blue > p {
	color: #2fc8d3;
}

.card-blue {
	border-bottom: 3px solid #2fc8d3;
}

.left-score {
	width: 112px;
	height: 100%;
	float: left;
}

.center-score {
	max-width: 118px;
	height: 100%;
	float: left;
}

.right-score {
	float: left;
	width: 112px;
	height: 100%;
}

.bg-score {
	position: absolute;
	margin-left: 17px;
	margin-top: 25px;
}

.green-trophy {
	display: inline-block;
	vertical-align: middle;
	margin-left: 28px;
	margin-top: 23px;
}

.green-score {
	display: inline-block;
	vertical-align: middle;
	margin-top: 23px;
	margin-left: 5px;
	font-family: Roboto-Bold;
	font-size: 11px;
	color: #4ae252;
	letter-spacing: 1px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
}

.blue-score-bg {
	position: absolute;
	margin-top: 29px;
	margin-left: 22px;
}

.blue-trophy {
	display: inline-block;
	vertical-align: middle;
	margin-top: 23px;
	margin-left: 30px;
}

.blue-score {
	display: inline-block;
	vertical-align: middle;
	margin-top: 23px;
	margin-left: 5px;
	font-family: Roboto-Bold;
	font-size: 11px;
	color: #38cad8;
	letter-spacing: 1px;
}

.giveaway {
	float: left;
	transition: .2s;
	width: 49.8%;
	height: 100%;
	border: 1px solid #293440;
	border-left: none;
	cursor: pointer;
	border-right: none;
	border-left: none;
	background: url(images/giveaway.png);
}

.hashtag {
	font-family: Rubik-Bold;
	font-size: 10px;
	color: white;
	letter-spacing: .9px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 17px;
}

.hashtag:first-child { 	margin-left: 17px;}

.hashtag > span { color: #3ccf45; }

.giveaway-title {
	font-family: Rubik-Bold;
	font-size: 18px;
	color: white;
	letter-spacing: .3px;
	line-height: 110%;
	margin-left: 17px;
	margin-top: 8px;
}

.small-title {
	font-family: Roboto-Regular;
	font-size: 11px;
	color: #c9c9c9;
	letter-spacing: .4px;
	line-height: 140%;
	margin-left: 17px;
	margin-top: 8px;
}

.join {
	transition: .15123s;
	width: 121px;
	height: 41px;
	margin-left: 17px;
	margin-top: 13px;
	background: #3ccf45;
	border: none;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(60,207,69,0.49);
	-moz-box-shadow: 0px 0px 15px 1px rgba(60,207,69,0.49);
	box-shadow: 0px 0px 15px 1px rgba(60,207,69,0.49);
	color: white;
	font-family: Rubik-Bold;
	font-size: 9px;
	letter-spacing: 1.2px;
	cursor: pointer;
	border-radius: 7px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
}

.join:hover {
	transition: .15123s;
	background: none;
	border: 2px solid #3ccf45;
	box-shadow: none;
	color: #3ccf45;
}

.join:focus { outline: none; }

.giveaway-img {
	position: absolute;
	margin-top: -19px;
	margin-left: 37px;
}

.ads {
	width: 400px;
	height: 300px;
	float: left;
	margin-top: 14px;
	margin-left: 14px;
	background: #182029;
	border: 1px solid #293440;
}

.second-section {
	width: 100%;
	height: 98px;
	margin-top: 2px;
}

.twitch {
	width: 50%;
	height: 100%;
	float: left;
	border: 1px solid #293440;
	border-left: none;
	cursor: pointer;
	border-top: none;
	background: url(images/twitch-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
}

.social-img {
	width: 70px;
	height: 100%;
	float: left;
	text-align: center;
	margin-top: 30px;
}

.social-info {
	width: 259px;
	height: 100%;
	float: left;
}

.social-title {
	color: white;
	font-family: Rubik-Bold;
	font-size: 18px;
	letter-spacing: .4px;
	margin-top: 26px;
	margin-left: 4px;
}

.social-sub {
	font-family: Roboto-Regular;
	font-size: 10px;
	color: #d2d2d2;
	letter-spacing: .2px;
	margin-left: 4px;
}

.ball {
	width: 9px;
	height: 9px;
	background: white;
	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;
	margin-left: 4px;
}
.b-2 { margin-left: 4px; }

.help-text {
	font-family: Roboto-Bold;
	font-size: 10px;
	color: white;
	letter-spacing: .6px;
	margin-left: 5px;
	vertical-align: middle;
	display: inline-block;
}

.live {
	position: absolute;
	width: 43px;
	height: 18px;
	background: #673ab7;
	border-radius: 5px;
	text-align: center;
	margin-left: 277px;
	margin-top: 11px;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(103,58,183,1);
	-moz-box-shadow: 0px 0px 15px 1px rgba(103,58,183,1);
	box-shadow: 0px 0px 15px 1px rgba(103,58,183,1);

}

.live > p {
	font-family: Roboto-Bold;
	font-size: 9px; 
	color: white;
	letter-spacing: 1.2px;
	line-height: 18px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
}

.facebook {
	width: 49.8%;
	height: 100%;
	float: left;
	border: 1px solid #293440;
	border-left: none;
	cursor: pointer;
	border-top: none;
	background: url(images/facebook-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
	border-right: none;
	border-left: none;
}

.b3 {
	margin-left: 5px;
}

.fb-l {
	background: #5368aa;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(83,104,170,1);
	-moz-box-shadow: 0px 0px 15px 1px rgba(83,104,170,1);
	box-shadow: 0px 0px 15px 1px rgba(83,104,170,1);	
}

.leaderboard {
	width: 100%;
	height: 222px;
}

.leaderboard-header {
	width: 100%;
	height: 26px;
	background: #182029;
	border: 1px solid #293440;
	border-left: none;
	border-right: none;
}

.nav-title {
	font-family: Rubik-Bold;
	font-size: 7px;
	color: #6c6c6c;
	letter-spacing: .7px;
	line-height: 26px; 
	float: left;
	margin-left: 72px;
}

.nav-title:nth-child(2) {
	margin-left: 138px;
}

.nav-title:nth-child(3) {
	margin-left: 88px;
}

.nav-title:nth-child(4) {
	margin-left: 69px;
}

.nav-title:nth-child(5) {
	margin-left: 75px;
}

.leaderboard-tile {
	width: 100%;
	height: 47px;
	background: #212a35;
	border-bottom: 1px solid #293440;
}

.grey-bg {
	background: #1d252d;
}

.player-tile {
	width: 212px;
	height: 100%;
	float: left;
}

.status {
	height: 100%;
	float: left;
	width: 96px;
}

.games {
	height: 100%;
	float: left;
	width: 171px;
}

.trophies {
	width: 88px;
	height: 100%;
	float: left;
}

.rank-tile {
	width: 96px;
	height: 100%;
	float: left;
}

.player-tile > img {
	margin-left: 18px;
	float: left;
}

.username {
	font-family: Rubik-Bold;
	font-size: 12px;
	color: #3cc843;
	letter-spacing: .6px;
	margin-top: 12px;
	margin-left: 14px;
	float: left;
}

.profile-button {
	font-family: Roboto-Bold;
	font-size: 8px;
	margin-top: 27px;
	margin-left: -70px;
	float: left;
	display: inline;
	color: #6f6f6f;
	letter-spacing: .4px;
	cursor: pointer;
}

.status-box {
	width: 46px;
	height: 18px;
	background: #3ccf45;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(60,207,69,0.49);
	-moz-box-shadow: 0px 0px 15px 1px rgba(60,207,69,0.49);
	box-shadow: 0px 0px 15px 1px rgba(60,207,69,0.49);
	text-align: center;
	margin-left: 22px;
	margin-top: 14px;
	cursor: pointer;
}

.status-box > p {
	font-family: Rubik-Bold;
	font-size: 9px;
	color: white;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
	line-height: 18px;
	letter-spacing: .8px;
}

.games > p {
	font-family: Rubik-Bold;
	font-size: 12px;
	color: white;
	letter-spacing: 1.2px;
	margin-left: 67px;
	margin-top: 16px;
}

.trophies > p {
	vertical-align: middle;
	display: inline-block;
	font-family: Roboto-Bold;
	font-size: 11px;
	color: #3cc843;
	letter-spacing: .8px;
	margin-left: 10px;
	margin-top: 16px;
}

.trophies > img {
	vertical-align: middle;
	display: inline-block;
	width: 12px;
	height: 7px;
	margin-top: 14px;
}

.rank-tile {
	text-align: right;
}

.rank-tile > p {
	font-family: Rubik-Bold;
	font-size: 18px;
	color: #455261;
	margin-top: 12px;
	margin-right: 34px;
}

/* Blue tile */

.grey-bg > .player-tile > .profile-button {
	margin-left: -63px;
}

.grey-bg > .player-tile > .username{
	color: #34aee6;
}

.grey-bg > .status > .status-box {
	background: #34aee6;
	-webkit-box-shadow: 0px 0px 17px 1px rgba(52,174,230,0.48);
	-moz-box-shadow: 0px 0px 17px 1px rgba(52,174,230,0.48);
	box-shadow: 0px 0px 17px 1px rgba(52,174,230,0.48);	
}

.grey-bg > .trophies > p {
	color: #34aee6;
}

/* VIEW PROFILE FIXES */

.lb-3 > .player-tile > .profile-button {
	margin-left: -104px;
}

.lb-4 {
	background: #1d252d;
}

.lb-4 > .player-tile > .profile-button {
	margin-left: -83px;
}

.chat {
	margin-left: 14px;
	float: left;
	width: 400px;
	height: 300px;
	background: #182029;
	border: 1px solid #293440;
	margin-top: 70px;
}

.chat-header {
	height: 25px;
	float: left;
	width: 100%;
}

.messages-number {
	width: 131px;
	height: 19px;
	background: #3ac742;
	margin: 0 auto;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	text-align: center;
}

.messages-number > p {
	font-family: Rubik-Bold;
	font-size: 9px;
	color: white;
	line-height: 19px;
	letter-spacing: .5px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
}

.message-box {
	width: 100%;
	height: 41px;
	float: left;
}

.message-content {
	width: 308px;
	height: 100%;
	float: left;
}

.message-time {
	width: 92px;
	height: 100%;
	float: left;
}

.message-content > img {
	float: left;
	width: 33px;
	height: 33px;
	margin-top: 4px;
	margin-left: 15px;
	cursor: pointer;
}

.message-content > p {
	font-family: Roboto-Regular;
	font-size: 11px;
	color: #a2a2a2;
	letter-spacing: .4px;
	margin-left: 10px;
	float: left;
}

.message-content > p > span {
	font-family: Roboto-Bold;
	color: #3dd447;
	cursor: pointer;
}

/* p-fixes */

.b-w { color: white; cursor: pointer; }

.first-p {
	margin-top: 13px;
}

.second-p {
	margin-top: 8px;
}

.message-time > p {
	color: #7b7b7b;
	font-family: Roboto-Bold;
	font-size: 9px;
	letter-spacing: .4px;
	margin-top: 14px;
	text-align: center;
	margin-right: 4px;
}

.message-input {
	width: 100%;
	height: 69px;
	float: left;
}

.input-box {
	width: 294px;
	height: 49px;
	background: #232d38;
	border-radius: 50px;
	margin-left: 16px;
	margin-top: 10px;
	float: left;
}

.input-box > input {
	border: none;
	background: none;
	width: 190px;
	color: white;
	margin-top: 17px;
	margin-left: 25px;
	font-family: Roboto-Regular;
	font-size: 11px;
	letter-spacing: .5px;
}

.input-box > input:focus { outline: none; }

.input-box > input::-webkit-input-placeholder {
	font-family: Roboto-Regular;
	font-size: 10px;
	color: #9e9e9e;
	letter-spacing: .1px;
}

.input-box > img {
	float: right;
	margin-top: 17px;
	margin-right: 20px;
	cursor: pointer;
}

.message-button {
	transition: .2s;
	width: 44px;
	height: 44px;
	background: #35b83d;
	border: 3px solid #40e449;
	border-radius: 50%;
	float: right;
	margin-top: 9px;
	margin-right: 23px;
	cursor: pointer;
	-webkit-box-shadow: inset 0px 0px 35px 8px rgba(0,0,0,0.36);
	-moz-box-shadow: inset 0px 0px 35px 8px rgba(0,0,0,0.36);
	box-shadow: inset 0px 0px 35px 8px rgba(0,0,0,0.36);
	text-align: center;
}

.message-button:hover {
	transition: .2s;
	background: #40e449;
}

.message-button > img {
	margin-top: 11px;
}

/* CLUBS MODAL */

.clubs-menu {
	position: absolute;
	width: 438px;
	height: 0px;
	background: #182029;
	border: 1px solid #293440;
	z-index: 1;
	margin-left: 520px;
	border-top: none;
	margin-top: 55px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.menu-wrapper {
	width: 405px;
	height: 220px;
	margin: 0 auto;
	margin-top: 15px;
	display: none;
}

.menu-header {
	width: 100%;
	height: 20px;
}

.my-clubs {
	font-family: Rubik-Bold;
	font-size: 8px;
	opacity: .4;
	letter-spacing: 1px;
	color: white;
	float: left;
	margin-left: 2px;
}

.more {
	float: right;
	font-size: 8px;
	color: #46ca4e;
	font-family: Roboto-Bold;
	letter-spacing: .4px;
	margin-top: -2px;
	cursor: pointer;
}

.club-card {
	width: 120px;
	height: 188px;
	background: #1c252f;
	border: 1px solid #2d3844;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.32);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.32);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.32);
	border-radius: 5px;
	cursor: pointer;
	background: url(images/active-clubb.png);
	text-align: center;
	float: left;
}

.club-rank {
	font-family: Rubik-Bold;
	font-size: 24px;
	color: #404c58;
	margin-top: 8px;
}

.team-img {
	margin-top: 8px;
}

.club-name {
	font-family: Roboto-Bold;
	font-size: 12px;
	color: white;
	letter-spacing: .6px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.54);
	margin-top: 11px;
}

.members-icon {
	vertical-align: middle;
	display: inline-block;
}

.team-members {
	vertical-align: middle;
	display: inline-block;
	font-family: Roboto-Bold;
	font-size: 10px;
	color: #3cc843;
}

.normal-card {
	background: none;
	background: #1c252f;
	margin-left: 19px;
}

.first-half {
	width: 100%;
	height: 50%;
	background: red;
	position: absolute;
	z-index: 1200;
}

.second-half {
	width: 100%;
	height: 50%;
	background: blue;
	position: absolute;
	z-index: 1200;
	top: 50%;
}