@font-face {
    font-family: Roboto-Regular;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Roboto-Bold.ttf);
}

@font-face {
    font-family: Rubik-Bold;
    src: url(Rubik-Bold.ttf);
}

* {
	padding: 0px;
	margin: 0px;
}

.main-wrapper {
	width: 100%;
	height: 100vh;
}

/* HEADER */

.top-header {
	width: 100%;
	height: 75px;
	background: #1b2025;
	-webkit-box-shadow: 0px 1px 14px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 14px 2px rgba(0,0,0,0.35);
	box-shadow: 0px 1px 14px 2px rgba(0,0,0,0.35);
	position: absolute;
}

.header-main {
	width: 1180px;
	height: 100%;
	margin: 0 auto;
}

.logo {
	width: 82px;
	height: 100%;
	background: #1b2025;
	-webkit-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.24);
	box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.24);
	text-align: center;
	float: left;
}

.logo-img {
	margin-top: 17px;
}

.wbp-button {
	width: 195px;
	height: 42px;
	border: 1px solid #4ae251;
	float: left;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 18px;
	cursor: pointer;
}

.wbp-left {
	float: left;
	width: 45px;
	height: 100%;
	background-color: #3cbf42;
	text-align: center;
}

.play-img {
	margin-top: 12px;
	margin-left: 3px;
}

.wbp-right {
	transition: .3s;
	width: 150px;
	height: 100%;
	background-color: #34a43a;
	float: right;
}

.main-bt {
	color: white;
	font-family: Roboto-Regular;
	font-size: 11px;
	letter-spacing: 1.2px;
	font-weight: 600;
	line-height: 43px;
	margin-left: 22px;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.search-bar {
	width: 305px;
	height: 38px;
	border: 2px solid #252b33;
	float: right;
	background: none;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.34);
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.34);
	text-indent: 17px;
	margin-top: 15px;
	color: white;
	font-family: Roboto-Regular;
	font-size: 11px;
	letter-spacing: .7px;
	margin-right: 24px;
}

.search-bar::-webkit-input-placeholder {
	color: #666666;
	font-size: 10px;
	font-family: Roboto-Regular;
	font-weight: 600;
	letter-spacing: .8px;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.search-img {
	float: right;
	margin-top: 27px;
	margin-right: -295px;

}

.search-bar:focus {
	outline: none;
}

.fix-img-1 {
	float: right;
	margin-right: 250px;
	margin-top: 19px;
}

.fix-img-2 {
	float: right;
	margin-right: -420px;
	margin-top: 19px;
}

.tokens {
	width: 70px;
	height: 40px;
	float: right;
	margin-top: 16px;
	margin-right: -410px;
}

.qbc-img {
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 4px;
}

.qbc-emount {
	font-family: Roboto-Regular;
	font-weight: 600;
	letter-spacing: 1.2px;
	font-size: 12px;
	color: #3cc843;
	display: inline-block;
	vertical-align: middle;
	text-shadow: 0px 1px 8px #3cc843;
	margin-top: 6px;

}

.coins {
	font-family: Rubik-Bold;
	font-size: 9px;
	color: #455160;
	letter-spacing: .6px;
	text-shadow: 0px 1px 8px 455160;
	margin-left: 12px;
	margin-top: 3px;
}

.clubs {
	margin-top: 9.5px;
	width: 67px;
	height: 57px;
	float: right;
	margin-right: -507px;
	background-image: url(clubs.png);
	text-align: center;
}

.clubs-pick {
	margin-top: 15px;
}

.pick-arrow {
	float: left;
	margin-left: 28px;
	margin-top: 2px;
}

.me {
	width: 44px;
	height: 44px;
	border: 1px solid #3bc442;
	float: right;
	margin-top: 14px;
	margin-right: -575px;
	background-image: url(jon.png);
	-webkit-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.34);
	box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.34);
	text-align: center;
}

.me-label {
	margin-top: 38px;
}

/* CONTENT */

.main-content {
	z-index: 10;
	width: 100%;
	height: 100%;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
}

.content-wrapper {
	width: 1180px;
	height: 640px;
	margin: 0 auto;
	padding-top: 74px;
}

.row-1 {
	width: 750px;
	height: 100%;
	float: left;
}

.row-2 {
	float: left;
	width: 400px;
	height: 100%;
	margin-left: 25px;
}

.club-header {
	width: 100%;
	height: 256px;
	margin-top: 28px;
	background: #1f242b;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	background-image: url(club-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.club-info {
	background-image: url(gradient-1.png);
	float: left;
	width: 400px;
	height: 100px;
	margin-top: 15px;
}

.club-holder {
	width: 115px;
	height: 101px;
	margin-left: 37px;
	background-image: url(club-img-holder.png);
	text-align: center;
	float: left;
}

.club-img {
	margin-top: 26px;
}

.club-main {
	width: 198px;
	height: 66px;
	float: left;
	margin-top: 19px;
	margin-left: 20px;
}

.title-box{
	width: 100%;
	height: 30px;
	font-family: Roboto-Regular;
	font-size: 18px;
	color: #39bc40;
	font-weight: 600;
	letter-spacing: 1.2px;
	text-shadow: 0px 1px 9px #39BC40;
}

.owner {
	float: left;
	width: 90px;
	height: 36px;
	display: inline-block;
	vertical-align: middle;
}

.owner-p {
	font-family: Roboto-Regular;
	font-weight: 800;
	font-size: 10px;
	letter-spacing: 1px;
	color: #5b5b5b;
	margin-top: 4px;
}

.owner-name {
	font-family: Roboto-Regular;
	font-size: 12px;
	color: white;
	letter-spacing: .7px;
	margin-top: 3px;
	text-shadow: 0px 1px 9px #000000;
}

.o-2 {
	margin-left: 10px;
}

.season-time {
	float: right;
	margin-top: 40px;
	width: auto;
	height: 60px;
	background-image: url(gradient-2.png);
}

.clock-holder {
	width: 69px;
	height: 61px;
	background-image: url(season-time.png);
	float: right;
	margin-right: 21px;
	text-align: center;
}

.clock {
	margin-top: 19px;
}

.time-info {
	width: auto;
	height: 35px;
	float: right;
	margin-top: 5px;
	margin-right: 12px;
}

.time-fix {
	display: inline-block;
	vertical-align: middle;
}

.time-title {
	font-family: Roboto-Regular;
	font-weight: 800;
	font-size: 10px;
	letter-spacing: 1px;
	color: #5b5b5b;
	margin-left: 24px;
}

.time-left {
	font-family: Roboto-Regular;
	font-size: 14px;
	color: #39bc40;
	font-weight: 600;
	letter-spacing: 1.2px;
	text-shadow: 0px 1px 9px #39BC40;
	margin-left: 40px;
	margin-top: -8px;
}

.i {
	margin-top: 15px;
	margin-left: 8px;
}

.progress {
	width: 680px;
	height: 65px;
	float: left;
	margin-left: 36px;
}

.progress-bar {
	width: 100%;
	height: 12px;
	background: #1d2126;
	border-radius: 6px;
	margin-top: 35px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
}

.current-progress {
	width: 36%;
	height: 12px;
	background: #39bc41;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px; 
	-webkit-box-shadow: 0px 0px 5px 1px rgba(57,188,65,1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(57,188,65,1);
	box-shadow: 0px 0px 5px 1px rgba(57,188,65,1);
}

.progress-line {
	float: left;
	margin-left: 244px;
	margin-top: -21px;
}

.current-tokens {
	float: left;
	margin-left: 185px; 
	margin-top: -40px;
}

.season-level {
	font-family: Roboto-Regular;
	font-size: 11px;
	color: #36ad3e;
	letter-spacing: .5px;
	text-shadow: 0px 1px 4px rgba(0,0,0, .3);
	float: left;
	margin-top: 9px;
}

.level-i {
	float: left;
	margin-top: 8px;
	margin-left: 4px;
}

.bottom-right {
	float: right;
	margin-right: -435px;
}

.tokens-needed {
	margin-top: 9px;
	font-family: Roboto-Regular;
	font-size: 11px;
	color: #7a7a7a;
	text-shadow: 0px 1px 4px rgba(0,0,0, .2);
}

.t-f {
	vertical-align: middle;
	display: inline-block;
}

.i-needed {
	margin-top: 8px;
	margin-left: 2px;
}

.timeline {
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}

.club-feed {
	width: 100%;
	height: 430px;
	margin-top: 28px;
	background: #1f242b;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
}

.box-header {
	width: 100%;
	height: 34px;
	background-color: #181c21;
}

.box-title {
	font-family: Rubik-Bold;
	font-weight: 600;
	font-size: 9px;
	color: #858585;
	letter-spacing: 1.4px;
	line-height: 34px;
	margin-left: 27px;
	text-shadow: 0px 1px 4px rgba(0,0,0, .6);
	float: left;
}

.header-plus {
	float: right;
	margin-top: 13.5px;
	margin-right: 18px;
}

.video {
	margin-left: 15px;
	margin-top: 14px;
}

.my-progress {
	width: 400px;
	height: 205px;
	background: #1f242b;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	margin-top: 28px;
}

.my-progress > .box-header .box-title {
	margin-left: 20px;
}

.my-progress > .progress-bar {
	width: 90%;
	height: 8px;
	margin-left: 22px;
	margin-top: 40px;
}

.my-progress > .progress-bar > .current-progress {
	width: 80%;
	height: 8px;
	margin-left: 22px;
	margin-left: 0px;
}

.my-progress > .progress-bar > .progress-line {
	margin-left: 288px;
	margin-top: -25px;
}

.my-progress > .progress-bar > .current-progress > .current-tokens {
	margin-left: 230px;
}

.my-progress > .progress-bar > .current-progress > .bottom-right {
	margin-right: -75px;
}

.collect {
	width: 90%;
	margin-left: 21px;
	height: 58px;
	border: 1px solid #4ae251;
	border-radius: 3px;
	background-color: #36b03c;
	font-family: Roboto-Regular;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 1.4px;
	color: white;
	text-shadow: 0px 1px 4px rgba(0,0,0, .4);
	margin-top: 20px;
	cursor: pointer;
}

.collect:focus {
	outline: none;
}

.adds {
	width: 400px;
	height: 300px;
	background: #1f242b;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.22);
	margin-top: 28px;
}

.prizes {
	width: 400px;
	height: 218px;
	background: none;
	margin-top: 28px;
}

.przes > .box-header {
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.22);
	position: absolute;
}

.right-title {
	transition: .2s;
	width: 175px;
	height: 100%;
	background: #20242a;
	float: right;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.12);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.12);
	text-align: center;
	cursor: pointer;
}

.right-title:hover {
	transition: .2s;
	opacity: .7;
}

.s-f {
	vertical-align: middle;
	display: inline-block;
}

.shop-title {
	font-family: Rubik-Bold;
	font-size: 9px;
	color: #cccccc;
	letter-spacing: 1.1px;
	line-height: 34px;
	margin-left: 5px;
	text-shadow: 0px 1px 4px rgba(0,0,0, .6);
}

.controls {
	width: 100%;
	height: 30px;
	background: linear-gradient(#181a1f, #1e2228);
	text-align: center;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.22);
}

.controls-title {
	color: #484848;
	font-family: Roboto-Regular;
	font-weight: 800;
	letter-spacing: .6px;
	font-size: 10px;
	line-height: 30px;
	float: left;
	margin-left: 103px;
}

.controls span {
	color: #36b03c;
}

.back {
	float: left;
	margin-top: 6px;
	margin-left: 20px;
}

.next {
	float: right;
	margin-top: 6px;
	margin-right: 20px;
}

.prize-card {
	width: 100%;
	height: 75px;
	background-color: #1a1e23;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.22);
}

.prize-image {
	width: 129px;
	height: 100%;
	background-color: #22272e;
	text-align: center;
	float: left;
}

.prize-img {
	margin-top: 15px;
}

.prize-content {
	width: 271px;
	height: 100%;
	float: left;
}

.prize-name {
	font-family: Roboto-Regular;
	font-size: 14px;
	font-weight: 800;
	color: #3aba42;
	letter-spacing: 1px;
	margin-left: 22px;
	margin-top: 7px;
}

.prize-desc {
	font-family: Roboto-Regular;
	font-size: 12px;
	color: #6e6e6e;
	letter-spacing: .2px;
	margin-left: 22px;
	margin-top: 7px;
}

.p-2 {
	margin-top: 2px;
	margin-left: 1px;
}

.tok {
	display: inline-block;
	vertical-align: middle;
}

.token-img {
	margin-left: 22px;
}

.prize-desc span {
	font-family: Roboto-Bold;
	color: #3aba42;
}

.card-2 {
	margin-top: 2px;
}

.card-2 > .prize-image > .prize-img {
	margin-top: 8px;
}